@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic);

// Stacks

$font-stack: 'Lora', serif;
$normal-font-weight: 400;
$heavy-font-weight: 700;
$italic-font: italic;

// Font-sizes

$large-heading: 2em;
$small-font-size: 0.7em;
$normal-font-size: 1em;

//Colors

$background-color: #0a2e3a;
$primary-font-color: #FBFBFB;
$heading-font-color: #88de90;
$div-background-color: #07585a;
$orange-color: #e36c32;

// Device widths

$tablet-width: 768px;
$desktop-width: 1024px;

// Mixins

@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

// Begin styles

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: $background-color;
	font-family: $font-stack;
	font-weight: $normal-font-weight;
	color: $primary-font-color;
	overflow-x: none;
	padding-top: 40px;
	min-width: 320px;
}

h1 {
	font-weight: $heavy-font-weight;
	color: $heading-font-color;
	vertical-align: center;

	#letter {
		color: $orange-color;
		font-size: $normal-font-size;
		text-shadow: 1px 0px 0px #0a0a0a,
						0px 1px 0px #0a0a0a;

		@include tablet {
			font-size: $large-heading;
		}
		@include desktop {
			font-size: $large-heading;
		}
	}
	#wiki {
		font-size: $normal-font-size;
		text-shadow: 1px 0px 0px #0a0a0a,
						0px 1px 0px #0a0a0a;

		@include tablet {
			font-size: $large-heading;
		}
		@include desktop {
			font-size: $large-heading;
		}
	}
}

img {
	display: inline;
	height: 80px;
	width: 80px;
	transition: all 1s ease;
	position: relative;
	left: 5px;

	&:hover {
		height: 100px;
		width: 100px;
	}
}

.search-input {
	position: relative;
	margin-top: 15px;

	input {
		border: 2px solid $heading-font-color;
		border-radius: 35px;
		background: none;
		outline: none;
		color: $primary-font-color;
		width: 3%;
		font-size: $small-font-size;
		padding: 10px 7px 10px 45px;
		transition: all .5s ease;
		&:focus {
			border-color: $orange-color;
			width: 80%;
		}

		@include tablet {
			font-size: $normal-font-size;
		}
		@include desktop {
			font-size: $normal-font-size;
		}
	}
	span {
		position: relative;
		left: 25px;
		top: 4px;
	}
}

.btn-submit {
	background: $orange-color !important;
	width: 20%;
	margin: 0 auto;
	padding: 10px 20px 10px 20px;
	font-size: $small-font-size;
	outline: none;
	margin-bottom: 40px;

	@include tablet {
		width: 20%;
		font-size: $large-heading;
	}
	@include desktop {
		width: 20%;
		font-size: $large-heading;
	}

	&:active {
		outline: none;
		position: relative;
		top: 2px;
	}
}

.articles {
	width: 100%;
	background: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 10%;
}

.entry {

	background: $div-background-color;
	padding: 10px 20px;
	margin: 1% 1%;
	border-radius: 10px;
	border-top: 5px solid $orange-color;
	flex-grow: 1;

	.title {
		color: $heading-font-color;
		margin-bottom: 3%;

		:hover {
			color: $orange-color;
			text-decoration: none;
		}
	}

	@include tablet {
		display: inline-block;
		width: 30%;
		min-height: 200px;
		margin-top: 1% 1%;

		.title {
			margin-bottom: 6%;
		}
	}
	@include desktop {
		display: inline-block;
		width: 30%;
		margin: 0 1%;
		min-height: 200px;
		margin-top: 1%;

		.title {
			margin-bottom: 6%;
		}
	}
}






