@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #0a2e3a;
  font-family: "Lora", serif;
  font-weight: 400;
  color: #FBFBFB;
  overflow-x: none;
  padding-top: 40px;
  min-width: 320px; }

h1 {
  font-weight: 700;
  color: #88de90;
  vertical-align: center; }
  h1 #letter {
    color: #e36c32;
    font-size: 1em;
    text-shadow: 1px 0px 0px #0a0a0a, 0px 1px 0px #0a0a0a; }
    @media (min-width: 768px) and (max-width: 1023px) {
      h1 #letter {
        font-size: 2em; } }
    @media (min-width: 1024px) {
      h1 #letter {
        font-size: 2em; } }
  h1 #wiki {
    font-size: 1em;
    text-shadow: 1px 0px 0px #0a0a0a, 0px 1px 0px #0a0a0a; }
    @media (min-width: 768px) and (max-width: 1023px) {
      h1 #wiki {
        font-size: 2em; } }
    @media (min-width: 1024px) {
      h1 #wiki {
        font-size: 2em; } }

img {
  display: inline;
  height: 80px;
  width: 80px;
  transition: all 1s ease;
  position: relative;
  left: 5px; }
  img:hover {
    height: 100px;
    width: 100px; }

.search-input {
  position: relative;
  margin-top: 15px; }
  .search-input input {
    border: 2px solid #88de90;
    border-radius: 35px;
    background: none;
    outline: none;
    color: #FBFBFB;
    width: 3%;
    font-size: 0.7em;
    padding: 10px 7px 10px 45px;
    transition: all .5s ease; }
    .search-input input:focus {
      border-color: #e36c32;
      width: 80%; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .search-input input {
        font-size: 1em; } }
    @media (min-width: 1024px) {
      .search-input input {
        font-size: 1em; } }
  .search-input span {
    position: relative;
    left: 25px;
    top: 4px; }

.btn-submit {
  background: #e36c32 !important;
  width: 20%;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  font-size: 0.7em;
  outline: none;
  margin-bottom: 40px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .btn-submit {
      width: 20%;
      font-size: 2em; } }
  @media (min-width: 1024px) {
    .btn-submit {
      width: 20%;
      font-size: 2em; } }
  .btn-submit:active {
    outline: none;
    position: relative;
    top: 2px; }

.articles {
  width: 100%;
  background: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10%; }

.entry {
  background: #07585a;
  padding: 10px 20px;
  margin: 1% 1%;
  border-radius: 10px;
  border-top: 5px solid #e36c32;
  flex-grow: 1; }
  .entry .title {
    color: #88de90;
    margin-bottom: 3%; }
    .entry .title :hover {
      color: #e36c32;
      text-decoration: none; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .entry {
      display: inline-block;
      width: 30%;
      min-height: 200px;
      margin-top: 1% 1%; }
      .entry .title {
        margin-bottom: 6%; } }
  @media (min-width: 1024px) {
    .entry {
      display: inline-block;
      width: 30%;
      margin: 0 1%;
      min-height: 200px;
      margin-top: 1%; }
      .entry .title {
        margin-bottom: 6%; } }

/*# sourceMappingURL=styles.css.map */
